import url(global.css);
p{
    margin-bottom: 0px;
}
body{
    background-color: #fbfbfb !important;
}
.fa-menu-custom {
    color: white;
  }
  
  .nav-custom,
  .nav-custom .dropdown-menu {
    background-color: white;
    box-shadow:  0 2px 10px 0 rgba(0, 0, 0, 0.06)
  }
  
  .nav-custom a {
    color: black;
  }
  
  .nav-custom a:hover {
    color: rgb(214, 214, 214);
  }
  
  .nav-custom .dropdown-item:focus,
  .dropdown-item:hover {
    color: rgb(179, 81, 6) !important;
  }
  
  .nav-custom .nav-link.active {
    font-weight: bold;
    color: rgb(179, 81, 6);
  }
  
  .search-menu {
    height: 35px;   
    background-color: #fbfbfb;
  }
  
  .submit-search {
    background-color: rgb(179, 81, 6);
    color: white;
    border: none;
    padding: 5px 10px;
    height: fit-content;
  }
  .submit-search:hover {
    background-color: rgb(232, 108, 12);
    color: white;
    border: none;
    padding: 5px 10px;
  }
  .container-fluid-container {
    justify-content: space-evenly;
  }
  .login-button {
    background: #d8b979;
    color: white;
    font-size: 14px;
    border: none;
    padding: 6px 15px;
    height: fit-content;
    border-radius: 25px;
}
.checkout-page{
    margin: 0 auto;
    padding-left: 16px;
    max-width: 1200px;
}
.checkout-top{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.06);
    height: 30px;
}
.btn-checkout-1{
    width: 50%;
    border-radius: 30px;
    background-color: #ee4d2d;
    color: #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-checkout-2{
    width: 50%;
    border-radius: 30px;
    background-color: #ffffff;
    color: #ee4d2d;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #ee4d2d;
}
.personal-info{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.personal-info-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 0 20px;
}
.title-info {
    font-weight: bold;
}
.button-info {
    font-size: 14px;
    color: #adaeae;
}
.personal-info-container{
    box-shadow:  0 3px 10px 0 rgba(0, 0, 0, 0.1)
}
.personal-info-content{
    padding: 10px 0px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.personal-info-content .info-input input {
    border: none;
    outline: none;
    margin-left: 12px;
    height: 18px;
    flex-grow: 1;
    font-size: 14px;
    background-color: #fbfbfb;
    width: 620px;
}
.delivery-date{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 14px;
}
.time {
    font-weight: bold;
    color: #282828;
}
.fix-time {
    font-size: 13px;
    cursor: pointer;
    color: #799dd9;
}
.delivery-title{
    margin: 0px 20px;
    padding-top: 10px;
}
.info-checkout{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}
.order-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 0 20px;
}
.order-info{
    width: 40%;
    padding-left: 16px;
}
.order-info-container{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.choose-store{
    padding: 14px 20px 10px 20px;
    border-bottom: 1px solid #f1f1f1;
}
.choose-store-title {
    font-size: 14px;
}
.choose-store-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.right i{
    color: #adaeae;
    font-size: 14px;
}
.promotion-code{
    display: flex;
    padding: 10px 20px 15px;
    border-bottom: 1px solid #f1f1f1;
    flex-direction: row;
    align-items: center;
}
.promotion-code .left{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.promotion-icon{
    width: 24px;
    margin-right: 16px;
}
.sale{
    font-size: 14px;
}
.checkout-price{
    padding: 6px 20px;
    padding-right: 60px;
    border-bottom: 1px solid #f1f1f1;
}
.price-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quantity{
    font-size: 14px;
}
.quantity-number{
    font-weight: bold;
}
.total, .transport-price, .promotion-amount, .grand-total{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    padding: 4px 0;
}
.grand-total{
    font-weight: bold; 
}
.ta-checkout-note{
    background: #ffffff;
    border: none;
    box-shadow: none;
    width: 100%; 
    height: 100%;
    font-size: 14px;
    padding: 10px 20px 4px;
    border-top:  1px solid #f1f1f1;
    outline: 0;
}
.checkout-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.btn-order{
    border-radius: 30px;
    background: #ee4d2d;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.btn-continue{
    border-radius: 30px;
    background: #ffffff;
    color: #d8b979;
    border: 1px solid #d8b979;
    cursor: pointer;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}
.method-of-payment-title{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
margin-bottom: 7px;
padding: 0 20px;
margin-top: 10px;
}
.in-house{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.online{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}
.select-btn-1{
    cursor: pointer;
    border-radius: 50%;
    background-color: #d8b979;
    color: #f1f1f1;
    margin-right: 10px;
    height: 16px;
    width: 16px;
}
.payment-content{
    padding: 0 17px;
}
.text-btn-1,.text-btn-2 {
    font-size: 14px;
}
.select-btn-2{
    cursor: pointer;
    border-radius: 50%;
    background-color: #eee;
    color: #f1f1f1;
    margin-right: 10px;
    height: 16px;
    width: 16px;
}